<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Gives the test app input focus: reading the clipboard and its change events need it
             (C ABI design part 1, 5.8). -->
        <activity
            android:name="com.jonghyunkim.nativetoolkit.capitest.FocusActivity"
            android:exported="false" />
    </application>
</manifest>
