<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IosLibraryExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9DD75A72DAA02790069C660</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9DD75B72DAA027B0069C660</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9DD75C12DAA027B0069C660</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
